.allcert {


    #HeaderPage {
        color: #F2900A;
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
    };

    .container {

        font-size: large;
        background-color:rgb(255, 255, 255);
        color: black;
        

    }
    .status-label{
        color: #F2900A;
        font-weight: bold;
    }


    .header {
        padding: 30px;
        background-color: rgb(255, 255, 255);
        height: 40px;
    }
    
    .header svg {
        font-size: 40px;
        text-align: center;
    }

}