.approvecert {

    h1,
    label,
    p {
        color: #000;
    }

    h1 {
        padding-top: 2.5rem;
    }

    p {
        padding-top: 1rem;
    }

    form {
        margin-top: 2rem;
    }

    #HeaderPage {
        color: #F2900A;
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
    }

    .btn {
        border: none;
    }

    #appr-btn:hover {
        background-color: #1ffc1f;
        color: #000;
    }

    #rej-btn:hover {
        background-color: #8C0000;
    }
}