.content {
  padding-top: 50px;
}
label{
  font-weight: bold;
  /* padding: 1rem 0; */
}
#submitBtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.btwRow{
  margin-bottom: 0.3125rem;
}

#ProductVendor option[value=""][selected] {
  color: red; /* Change to your desired color */
}
.imgSize{
  height: 300px;
  width: 300px;
  margin-top: 30px;
}
#imgRequire{
  font-size: 10px;
  margin-left: 5px;
}