

/* Import.css */
.import {
    
#HeaderPage {
            color: #F2900A;
            text-align: center;
            padding-top: 1rem;
            font-size: 2rem;
        };

        .container {
        
            font-size: large;
            background-color:rgb(255, 255, 255);
            color: black;
        }
    
        .header {
            padding: 30px;
            background-color: rgb(255, 255, 255);
            height: 40px;
        }
        
        .header svg {
            font-size: 40px;
            text-align: center;
        }
    
    .CSV-data {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .CSV-data th,
    .CSV-data td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .CSV-data th {
        background-color:  #F2900A;
    }

    .CSV-data tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .CSV-data tbody tr:hover {
        background-color: #ddd;
    }
}