.ManageCert {
  #HeaderPage {
    text-align: center;
    padding: 2rem;
    color: orange;
    font-size: 2.5rem;
  }

  #CreateCertBtn {
    text-align: right;
    margin-bottom: 1rem;
  }
}

.header-styles {
  font-weight: bold !important;
}
