.viewcert {

    h1,
    label,
    p {
        color: #000;
    }

    h1 {
        padding-top: 2.5rem;
    }

    p {
        padding-top: 1rem;
    }

    form {
        margin-top: 2rem;
    }

    #HeaderPage {
        color: #F2900A;
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
    }

    .Backbtn {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
    }

    #Backbtn {
        font-size: 1.4rem;
        padding: 0.5rem 1.2rem;
        border-radius: 2rem;
    }

    .col-6 {
        padding-left: 2rem;
    }

    @media only screen and (max-width: 600px) {

        .row {
            display: flex;
            flex-direction: column;
        }
        .col-6 {
            margin-top: 1rem;
            width: 100%;
        }
    }
}